body {
    background-color: rgb(224, 224, 160);
    background-image: linear-gradient(90deg, rgb(219, 120, 120), yellow);
    text-align: center;
    
}

h1 {
    font-size: 42px;
}

a {
    text-decoration: none;
}
a:hover {
    font-size: 24px;
}


img {
    height: auto;
    width: 400px;
}

ul li {
    list-style-type: none;
}